@import 'config';
@import 'tailwind';

// CUSTOM USER STYLES & IMPORTS

body {
    background-color: #111;
    @apply text-gray-100;
    // min-height: 100vh;
    overflow: hidden;
    // make text unselectable
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
}

.logo {
    width: 10em;
    opacity: .25;
}

.cta {
    // margin-top: 5em;
    @apply flex flex-col min-h-screen justify-evenly;

    * {
        z-index: 50;
    }
}

.cta__header {
    @apply text-4xl md:text-5xl lg:text-7xl xl:text-8xl;
    @apply text-gray-100 font-bold max-w-prose;
    @apply mb-12 md:mb-24;

    &_red {
        @apply text-red-500;
    }
}

.cta__whoiam {
    @apply text-base md:text-lg lg:text-3xl text-stone-600;

    transition: all .6s ease;

    &:hover {
        @apply text-white;
        text-shadow: 0px 0px .5em #333;
    }
}

.cta__description {
    @apply text-xl md:text-2xl lg:text-4xl font-medium;

    // margin-top: 3em;

    &_typer {
        @apply text-green-600;
    }
}

.cta .typed-cursor {
    @apply text-xl md:text-2xl lg:text-4xl font-medium;
}

.cta__buttons {
    @apply w-full md:max-w-max;

    margin-top: 2em;
    padding: 1em;
    border: dashed 2px rgba($color: #ffffff, $alpha: .15);
    border-radius: 1em;
}

.cta__button {
    @apply btn text-white border-none w-full md:w-40 mt-3 md:mt-0;

    margin-right: 1em;

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &_vk {
        @apply bg-blue-600;
        transition: all .3s ease;
        &:hover {
            @apply bg-blue-500;
            box-shadow: 0px 0px 1em rgb(59, 130, 246);
        }
    };
    &_tg {
        @apply bg-blue-800 transition-all;
        transition: all .3s ease;
        &:hover {
            @apply bg-blue-700;
            box-shadow: 0px 0px 1em rgb(29, 78, 216);
        }
    };
    &_ws {
        @apply bg-green-600 transition-all;
        transition: all .3s ease;
        &:hover {
            box-shadow: 0px 0px 1em rgb(16, 185, 129);
            @apply bg-green-500;
        }
    };
}

.cta__worktime {
    @apply text-stone-500;
    margin-top: 1em;
    transition: all .3s ease;

    &:hover {
        @apply text-white;
        text-shadow: 0px 0px .5em #333;
    }
}

@keyframes bg-shape-1-animation {
    0% {
        transform: rotate(0deg) scale(1.75);
    }
    100% {
        transform: rotate(360deg) scale(1.75);
    }
}

.bg-shape {
    &-1 {
        z-index: 0;
        position: absolute;
        right: -20%;
        top: -20%;
        // transform: rotate(180deg) scale(1.75);
        opacity: .25;

        // infinite loop rotation
        animation: bg-shape-1-animation 20s infinite linear;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1376px) {
    /* */
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    /* */ 
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    /* */
    @keyframes bg-shape-1-animation {
        0% {
            transform: rotate(0deg) scale(1);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    /* */
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    /* */
    @keyframes bg-shape-1-animation {
        0% {
            transform: rotate(0deg) scale(.75);
        }
        100% {
            transform: rotate(360deg) scale(.75);
        }
    }

    .bg-shape {
        &-1 {
            right: -90%;
            top: -30%;
        }
    }
}
